.fwia-clear {
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 0;
  height: 0;
  line-height: 0;
  min-height: 0;
  width: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
}

.fwia-widget {
  min-width: 150px !important;
  position: relative; /* need to ensure subsequent absolute items are positioned relative to this */
}

.fwia-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px; /* make this half your image/element height */
  margin-left: -20px; /* make this half your image/element width */
  width: auto;
  height: auto;
  line-height: 100%;
  vertical-align: 50%;
}

/* get location area styling */

.fwia-widget .form-item,
.fwia-widget label,
.fwia-widget form {
  display: inline-block;
}

.fwia-location {
  letter-spacing: 1px;
  width: 7em !important;
}

.fwia-geolocation {
  font-size: 0.85em;
}

/* main content holder area */
.fwia-content {
  height: 280px;
  min-height: 60px !important;
  overflow: auto;
  background: #fff;
}

.fwia-content.hide {
  display: none !important;
}

.fwia-search {
  border: solid 1px #fff;
}

.fwia-details {
  border: solid 1px #eee;
}

.fwia-title {
  font-size: 1.1em;
  margin: 8px 0 3px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #eee;
}

/** styling the initial screen **/
.fwia-start {
  margin: 0;
}
.fwia-start a {
  position: relative;
  left: 34px;
  top: 77px;

  font-size: 12px;
  line-height: 14px;
  font-weight: bold;

  text-decoration: none;

  display: block;
  width: 80px;
}

/** Results list formatting **/

.fwia-results ul {
  list-style: none;
  margin: 0  !important;
  padding: 0 !important;
}

.fwia-results li {
  padding: 0.5em;
}

.fwia-results .row.even {
  background: #e6f1f9;
}

.fwia-results .row.odd {
  background: #fff;
  border-top: 1px solid #0874be;
  border-bottom: 1px solid #0874be;
}

.fwia-results .row:hover {
  background: #fbffbb;
}

.fwia-content .clientLogo {
  padding-right: .5em;
  float: left;
}

.fwia-bExpires {
  color: #222;
  font-weight: bold;
}

.fwia-bExpires.highlight {
  color: #c00;
}

.fwia-bIssued {
  color: #800080;
  margin-left: 4px;
}

.fwia-bIssuer,
.fwia-bIssued {
  font-size: 11px;
}

/** footer styling **/

.fwia-footer a {
  text-decoration: none;
}
.fwia-poweredBy {
  float: right;
  margin: 5px;
}
.fwia-poweredBy img {
  float: left;
  border: none;
}
.fwia-poweredBy em {
  margin: 0 5px 0 0;
  float: left;
  font-weight: bold;
  font-size: 0.85em;
  padding: 4px 0 0;
}

.fwia-message {
  padding: 10px;
  color: #800080;
}

/** styling of the details view **/

.fwia-details-container {
  margin: 0 0 0 2%;
  width: 96%;
  padding: 25px 0 0;
}

.fwia-share {
  padding: 10px 0;
}

.fwia-map {
  display: none;
  height: 200px;
  width: auto;
  margin-top: 6px;
}

.fwia-content-area {
  position: relative; /* needed to ensure the 'close' link is positioned correctly when viewing details of an announcement */
}

.fwia-close {
  position: absolute;
  right: 1.5em;
  top: 0;

  color: #666;

  background: #ddd;
  padding: 2px 6px;

  text-decoration: none;
  z-index: 10;
}
.fwia-close:hover {
  background: #bbb;
}
.fwia-close:active {
  background: #999;
}


/** announcement rating **/

.fwia-rating_holder_div {
  margin: 16px 0 10px;
}

.fwia-sp_rating {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #5f5f5f;
}

.fwia-rating {
  float: left;
  padding-right: 4px;
}

.fwia-base {
  background: url(../images/ratings.gif) 0 0 no-repeat;
  width: 85px;
  float: left;
  padding-right: 4px;
  overflow: hidden;
}

.fwia-average {
  background: url(../images/ratings.gif) 0 -16px no-repeat;
  text-indent: -9999px;
}

.fwia-votes {
  float: left;
  padding-right: 4px;
}

.fwia-score {
  background: url(../images/ratings.gif) 0 0 no-repeat;
  width: 85px;
  height: 100%;
  float: left;
  position: relative;
}
.fwia-score a {
  display: block;
  height: 100%;
  float: left;
  text-indent: -9999px;
  position: absolute;
  overflow: hidden;
  line-height: 1em;
}
.fwia-score1 {
  width: 20%;
  z-index: 55;
}
.fwia-score2 {
  width: 40%;
  z-index: 54;
}
.fwia-score3 {
  width: 60%;
  z-index: 53;
}
.fwia-score4 {
  width: 80%;
  z-index: 52;
}
.fwia-score5 {
  width: 100%;
  z-index: 51;
}

.fwia-score a:hover {
  background: url(../images/ratings.gif) bottom right no-repeat;
}

.fwia-sp_status {
  height: 16px;
  overflow: hidden;
  position: relative;
}

.fwia-score_this {
  height: 100%;
  overflow: hidden;
}
.fwia-score_this a {
  color: #f37800;
  margin: 0;
}
